@media only screen and (min-width: 751px) and (max-width:1215px) {
	nav {
		font-size: 28px;
	}

	nav ul li a {
		padding-right:10px;
		padding-left:10px;
	}

	.linkstobuy {
		margin-top:15px;
		margin-bottom:30px;
		text-align:center;
	}

	.linkstobuy a{
		color:black;
		text-decoration:none;
		background-color:rgba(255,255,255,0.7);
		padding:10px;
		margin-left:5px;
		margin-right:5px;
		font-size:20px;
	}

	.linkstobuy a:hover{
		color:black;
		text-decoration:none;
		background-color:rgba(255,255,255,1);
	}

	.cdcover {
		float:left;
		width:150px;
		border:none;
		margin:5px;
	}
}

@media only screen and (min-width: 751px) and (max-width: 1070px) {
	.bandphotosize {
		width:250px;
	}
}

@media only screen and (max-width: 750px) {
	#container {	
		margin-bottom: 10px;
		float:left;
		width:100%;	
		position:relative;
		overflow:hidden;	
		}

	.content {
		font-family: 'League Gothic';
		background-color:rgba(255,255,255,0.7);
		padding:20px 10px 80px 10px;
		margin: 0 10px 10px 10px;
		}

	#leftbox {
		}

	.centering {
		position: relative;
		display:block;
		margin-top:40px;
		margin-left:10px;
		}

	.bandname {
		display:inline;
		float: left;
		margin:0;
		opacity:.8;
	}
	#buttons {
		float: left;
	}

	#more {
		height:55px;
		width:55px;
		opacity:.8;
		margin-left: 25px;
	}

	#play {
		display: none;
	}	

	#rightbox {
		display:inline;
		float:left;
		margin:40px 0 0 0;
		width:100%;
		overflow:scroll;
		}

	#belownav {
	}

	nav {
		font-size: 24px;
		color:black;
		text-transform:uppercase;
		text-align:center;
	}

	nav ul li a {
		padding-right:7px;
		padding-left:7px;
		height:30px;
		color: black;
		text-align: center;
		text-decoration:none;
	}

	.cdcover {
		float:left;
		width:100px;
		border:none;
		margin:5px;
	}

	.linkstobuy a{
		color:black;
		text-decoration:none;
		background-color:rgba(255,255,255,0.7);
		padding:8px;
		margin-left:10px;
		margin-right:10px;
		font-size:18px;
		white-space: nowrap;
		line-height:250%;
	}

	.cdcoverselected {
		outline: 5px solid black;
	}

	.cdcover:hover {
		outline: 5px solid white;
	}

	.h1, .h2 {
		font-size: 22px;
		padding:2px 0 2px 0;
	}

	.h3 {
		font-size: 22px;
		padding:10px 0 2px 0;
	}

	.h4 {
		font-size: 22px;
	}

	.h5 {
	font-size: 22px;
	}

	.p1 {
		font-size: 20px;
	}

	.p2, .p3, .p4, .p5, .p6 {
		font-size: 16px;
	}

	.pquote {
		font-size: 14px
	}

	.pspacing {
		height:6px;
	}

	.videoformat {
		padding: 10px 0 10px 0;
	}

	.email {
		position:absolute;
		bottom:40px;
		right:200px;
	}

	.tumblr {
		position:absolute;
		bottom:40px;
		right:150px;
	}

	.facebook {
		position:absolute;
		bottom:40px;
		right:100px;
	}

	.soundcloud {
		position:absolute;
		bottom:40px;
		right:50px;
	}
	.bandphotosize {
		width:250px;
	}
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

	#container {	
		margin-bottom: 10px;
		float:left;
		width:100%;	
		position:relative;
		overflow:hidden;	
	}

	.content {
		font-family: 'League Gothic';
		background-color:rgba(255,255,255,0.7);
		padding:20px 10px 80px 10px;
		margin: 0 10px 10px 10px;
	}

	#leftbox {
	}

	.centering {
		position:relative;
		top:auto;
		margin-top:0px;
		margin-left:10px;
	}

	.bandname {
		font-size:120px;
		white-space:nowrap;
		display:inline-block;
		margin: 40px 0 0 160px;
		color:#F1F1F1;
		opacity:.8;
	}

	#buttons {
		display:inline-block;
		float:right;
		margin:-100px -404px 0 0;
	}

	#more{
		height:75px;
		width:75px;
/*		margin:0px 0 0 200px;*/
	}

	#play {
		display:none;
	}	

	#rightbox {
		display:inline;
		float:left;
		margin:50px 0 0 0;
		width:100%;
		overflow:scroll;
	}

	#belownav {
	}

	nav {
		font-size: 48px;
		color:black;
		text-transform:uppercase;
		text-align:center;
	}

	nav ul li a {
		padding-right:15px;
		padding-left:15px;
		height:30px;
		color: black;
		text-align: center;
		text-decoration:none;
	}

	.cdcover {
		float:left;
		width:200px;
		border:none;
		margin:5px;
	}

	.linkstobuy a{
		padding:15px;
		margin-left:10px;
		margin-right:10px;
		font-size:32px;
		white-space: nowrap;
		line-height:250%;
	}

	.cdcoverselected {
		outline: 5px solid black;
	}

	.cdcover:hover {
		outline: 5px solid white;
	}

	.h1 {
		font-size: 40px;
	}

	.h2 {
		font-size: 36px;
	}

	.h3 {
		font-size: 36px;
	}

	.h4 {
		font-size: 36px;
	}

	.h5 {
		font-size: 36px;
		}

	.p1{
		font-size: 36px;
	}

	.p2 {
		font-size: 26px;
	}

	.p3 {
		font-size: 24px;
	}

	.p4{
		font-size: 26px;
		padding-top:20px;
	}

	.p5{
		font-size: 32px;
	}

	.p6{
		font-size: 26px;
	}

	.pquote{
	font-size: 24px
	}

	.pspacing {
		height:10px;
	}


	.videoformat {
		padding: 10px 0 10px 0;
	}

	.email {
		position:absolute;
		width:50px;
		height:50px;
		bottom:40px;
		right:220px;
	}

	.tumblr {
		position:absolute;
		width:50px;
		height:50px;
		bottom:40px;
		right:160px;
	}

	.facebook {
		position:absolute;
		width:50px;
		height:50px;
		bottom:40px;
		right:100px;
	}

	.soundcloud {
		position:absolute;
		width:50px;
		height:50px;
		bottom:40px;
		right:40px;
	}

	.bandphotosize {
		width:500px;
	}
}
